/*  -CSS 
    -card style section - mobile device mode 
    */

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@import url('https://fonts.google.com/specimen/Poppins');

body{
    font-family: 'Poppins', sans-serif;
    width: 375px;
    background-color: hsl(0, 0%, 94%);
    margin: 80px auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container{
    padding: 30px;
    background-color: hsl(0, 0%, 100%);
    width: 370px;
    height: 360px;
    border-radius: 20px 20px 80px;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;;
}

/* date || input section */
.date{
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.date> div{
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.d{
    color: hsl(0, 1%, 44%);
    font-weight: 700;
    font-size: 10px;
}

input{
    cursor: pointer;
    color: hsl(0, 0%, 8%);
    width: 80px;
    height: 36px;
    padding: 10px;
    font-size: 17px;
    font-weight: 800;
    border-radius: 4.5px;
    border: 1px solid hsl(0, 0%, 86%);
}

input:hover{
    border-color: hsl(259, 100%, 65%);
}

input[type = 'number']:focus{
    color:hsl(0, 0%, 8%);
    padding: 10px;
}

::placeholder {
    color: hsl(0, 1%, 44%);
}

/* remove default input number button */
input::-webkit-outer-spin-button,
      input::-webkit-inner-spin-button {
        display: none;
}

/* error message alert section*/
.required, .valid{
    color: hsl(0, 100%, 67%);
    font-size: 7px;
    font-style: italic;
}


/* line || button style section */
.arrowline{
    /* background-color: blue; */
    display: flex;
    flex-direction:column;
    align-items: center;
    transform: translateY(49px);
}

hr{
    margin: 0 20px;
    width: 90%;
    border: 0.9px solid hsl(0, 0%, 86%);
}

#btn{
    border: none;
    width: 56px;
    height: 56px;
    background-color:hsl(259, 100%, 65%);
    border-radius: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translateY(-29px);
    cursor: pointer;
}

#btn:hover{
    background-color: hsl(0, 0%, 8%);
}

.arrowline{
    position: relative;
    bottom: 10px;
}

.arrow{
    width: 23px;
    height: 23px;
}

/* calculated year/month/day ouput style section */
.output{
    /* background-color: blueviolet; */
    transform: translateY(29px);
}

.output> p{
    font-size: 37px;
    font-weight: 800;
    transform: skewX(-10deg);
}

span{
    color: hsl(259, 100%, 65%);
}

/* source and coder style section */
.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    font-size: 13px;
    text-decoration: none;
    color:hsl(259, 100%, 65%); 
}

/* media quary design section */
@media only screen and (min-width: 768px) {
    body{
        width: 900px;
        height: 100%;
    }

    .container{
        margin: auto;
        width: 625px;
        height: 479px;
    }

     /* date || input section */
    .date{
        display: flex;
        flex-direction: row;
        justify-content:flex-start;
        gap: 30px;
        transform: translateX(26px);
        position: relative;
        top: 12px;
    }

    input{
        width: 120px;
        height: 50px;
    }

    input[type = 'number']{
        font-size: 26px;
    }

    .d{
        font-size: 11px;
    }

    /* error message alert */
    .required, .valid{
        font-size: 12px;
    }

    /* line || button style section */
    .arrow{
        width: 33px;
        height: 33px;
    }

    #btn{
        position: relative;
        left: 43%;
        bottom: 6px; 
        width: 69px;
        height: 69px;
        border-radius: 60px;
    }

    /* calculated year/month/day ouput style section */
    .output{
        transform: translateX(29px);
        position: relative;
        top: 10px;
    }

    .output> p{
        font-size: 70px;
        line-height: 78px;
    }

}
